build/*
easyloggingpp/easyloggingpp/*.cc
easyloggingpp/easyloggingpp/*.h
test_01

#Visual Studio
.vs/
.vs/config/
**/x64/*
**/x86/*
**/vc140.pdb

**/*.txt
!txt/*.txt
!txt/results/*/*.txt

**/*.log
**/*.7z
**.*.zip
